<%= stylesheet_link_tag "/stylesheets/user-form" %>

<div class="card">
    <div class="welcome">
        <h5><b>The Yarket Place</b></h5>
    </div>
    <hr>
    <p class="heading">Sign in</p>

    <%= form_with scope: :user, url: signin_path do |f| %>
        <!-- <%= f.label :email %> -->
        <div class="input-group">
            <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
        </div>
        <br>
        <!-- <%= f.label :password %> -->
        <div class="input-group">
            <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
        </div>
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <%= f.submit "Sign in", class: "btn btn-primary" %>
        </div>
        <p>New user? <a href="/signup">Sign up</a></p>
    <% end %>
</div>
