<h1 class="display-6 m-5">Hello, <%= @user.name %>.</h1>

<div class="container">
    <div class="row">
        <div class="card">
            <p class="text-center">Your Profile</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Name: </b><%= @user.name %></li>
                <li class="list-group-item"><b>Email: </b><%= @user.email %></li>
                <li class="list-group-item"><b>Phone Number: </b><%= @user.phone_number %></li>
                <li class="list-group-item"><b>Location: </b><%= @user.location %></li>
                <li class="list-group-item"><b>Street: </b><%= @user.address %></li>
                <li class="list-group-item"><b>Zip Code: </b><%= @user.zip_code %></li>
            </ul>
        </div>

        <div class="card text-center">
            <p>Your Favorite Posts</p>
            <ul class="list-group list-group-flush">
                <% @user.favs.each do |fav| %>
                <li class="list-group-item"><%= link_to fav.post.title, post_path(fav.post) %></li>
                <% end %>
            </ul>
        </div>
    </div>
<div>
