<%= stylesheet_link_tag "/stylesheets/user-form" %>

<div class="form-container">
    <div class="welcome">
        <h5><b>The Yarket Place</b></h5>
    </div>

    <p class="heading">Create an account</p>

    <%= form_with model: @user do |f| %>
        <%= f.text_field :name, placeholder: "Full Name" %>
        <br>
        <%= f.text_field :email, placeholder: "Email" %>
        <br><br>
        <%= f.password_field :password, placeholder: "Password" %>
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
        <br><br>
        <%= f.telephone_field :phone_number, placeholder: "Phone Number" %> <!-- is value returned as integer? -->
        <br><br>
        <%= f.label :location, "Where are you located?" %>
        <%= f.select :location, options_for_select(@user_class.location_options), { include_blank: "Select your location" } %>
        <!--<br><small>If living in a college dormitory, please specify.</small> -->
        <br><br>
        <%= f.text_field :address, placeholder: "Address" %>
        <%= f.number_field :zip_code, placeholder: "Zip Code" %> <!-- should this be a string? number field has those arrows -->
        <br>
        <%= f.submit "Sign up" %>
        <p>Returning user? <a href="/signin">Sign in</a></p>
    <% end %>
</div>
