<h1><%= @post.title %></h1>
<br>


<h2>Poster: <%= @post.user.name %></h2>
<h2>Title: <%= @post.title %></h2>
<h2>Cateory: <%= @post.category %></h2>
<h2>Price: $<%= @post.price %></h2>
<p>Description: <%= @post.desc %></p>

<hr>

<h3>Comments:</h3>
<section class="section comments">
	<div class="container">
		<h2 class="subtitle is-5"><strong><%= @post.comments.count %></strong> Comments</h2>
		<%= render @post.comments %>
		<div class="comment-form">

			
	 		<%= render 'comments/form' %>
		</div>
	</div>
</section>